@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.buttons {
  padding: 5rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.allImages {
  width: 90%;
  margin: auto;

  .container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.upload {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
